<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ircontrol">

    <!-- IR blaster bo‘lsa ishlatamiz, bo‘lmasa ham app ochiladi -->
    <uses-feature
        android:name="android.hardware.consumerir"
        android:required="false" />

    <!-- Keyinchalik ishlatiladigan permissionlar -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:label="IRControl"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.IRControl">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
